{% extends 'base.html' %}
{% block head %}
<h1>Life Foundation Client Administration System</h1>
<title>Client Seach/Listing</title>
{% endblock head %}
<br/>
{% block body %}
<p> You are logging in as : {{ user.username }}</p>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">
       Search Client
    </div> <!-- end panel-heading for search client -->
    <div class="panel-body">
      {% block listclient %}
      <ul>
         {% for client in client_list %}
         <li><a href="">{{ client.fname }}</a>     {{client.lname}}</li>
        {% empty %}
        <li>No client found.</li>
        % endfor %}
     </ul>
    {% endblock listclient %}

    </div> <!-- end div class for panel-body to show form enter search client -->
    <div class="panel-footer">
    </div>
  </div> <!-- end div class panel panel-default for search client -->
   </div> <!-- end div container for search client -->
   <div class="container"> <!-- show information of new client form-->
     <div class="panel panel-default">
     <div class="panel-heading">
         New Client Form
     </div> <!-- end panel-heading for new client form -->
     <div class="panel-body">
       <FORM id="newclient_form" method="post" action="">
           {% csrf_token %}
           {{ cform.as_p }}
           <INPUT type="submit" name="submit" value="Submit" />
       </FORM>
     </div> <!-- end div panel-body -->
   </div> <!-- end div panel panel-default for new client form -->
</div> <!-- end jumbotron -->

{% endblock %}
