<div class='container'>
	<div class='row'>
		<h2> Jquery datepicker for date of birth</h2>
		<form>
    		<div class='form-group'>
    			<label>Name</label>
    		    <input type='text' class='form-control'  placeholder='Enter Here'>
    		</div>
    		<div class='form-group'>
    			<label>Date Of Birth</label>
    		    <input type='text' id='datepicker' class='form-control' placeholder='Choose'>
    		</div>
    	</form>
	</div>
</div>
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script></div>
                    <div id="editor-css" class="playground-editor" style="height:500px;" itemprop="sampleType"></div>
                    <div id="editor-js" class="playground-editor" style="height:500px;" itemprop="sampleType">$(function() {
        $( '#datepicker' ).datepicker({
            dateFormat : 'mm/dd/yy',
            changeMonth : true,
            changeYear : true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
    });
   </div>
                </div>
            </div>
        </div>
    </div>
